<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="env/mybatis-config.properties">
	</properties>
	
	<typeHandlers>
	    <typeHandler handler="com.liangzhi.commons.mybatis.DateTimeTypeHandler" javaType="org.joda.time.DateTime"/>
        <typeHandler handler="com.liangzhi.commons.mybatis.HasValueEnumTypeHandler" javaType="com.liangzhi.commons.domain.UserType"/>
        <typeHandler handler="com.liangzhi.commons.mybatis.HasValueEnumTypeHandler" javaType="com.liangzhi.commons.domain.Role"/>
        <typeHandler handler="com.liangzhi.commons.mybatis.HasValueEnumTypeHandler" javaType="com.liangzhi.commons.domain.Stem"/>
        <typeHandler handler="com.liangzhi.commons.mybatis.HasValueEnumTypeHandler" javaType="com.liangzhi.commons.domain.platform.SensorType"/>
        <typeHandler handler="com.liangzhi.commons.mybatis.UUIDTypeHandler" javaType="java.util.UUID"/>
	</typeHandlers>

	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC">
                <property name="autoCommit" value="false" />  
			</transactionManager>
			<dataSource type="com.liangzhi.core.api.database.C3P0DataSourceFactory">
				<property name="driverClass" value="${dev.driver}" />
				<property name="jdbcUrl" value="${dev.url}" />
				<property name="user" value="${dev.username}" />
				<property name="password" value="${dev.password}" />
				<property name="idleConnectionTestPeriod" value="60"/>
				<property name="maxPoolSize" value="20"/>
				<property name="maxIdleTime" value="600"/>
				<property name="preferredTestQuery" value="SELECT 1"/>	
				<property name="autoCommitOnClose" value="false"/>
			</dataSource>
		</environment>
		<environment id="test">
			<transactionManager type="JDBC" />
			<dataSource type="com.liangzhi.core.api.database.C3P0DataSourceFactory">
				<property name="driverClass" value="${test.driver}" />
				<property name="jdbcUrl" value="${test.url}" />
				<property name="user" value="${test.username}" />
				<property name="password" value="${test.password}" />
				<property name="idleConnectionTestPeriod" value="60"/>
				<property name="maxPoolSize" value="20"/>
				<property name="maxIdleTime" value="600"/>
				<property name="preferredTestQuery" value="SELECT 1"/>		
				<property name="JDBC.autoCommit" value="false" /> 
			</dataSource>
		</environment>
	</environments>

	<mappers>
	    <mapper resource="com/liangzhi/core/api/database/userMapper.xml" />
	    <mapper resource="com/liangzhi/core/api/database/deviceMapper.xml" />
	</mappers>
</configuration>